  
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: emoji;
    src: url(AppleColorEmoji-HD.ttc);
  }


:root {
  --color-background-primary: #0f0f0f;
  --color-background-secondary: #252525;
  --color-text-primary: #fff;
  --color-link-primary: #8f8f8f;
  --color-link-secondary: #606060;
  --color-brand-primary: rgb(61, 41, 163);
  --color-brand-secondary: rgb(124, 93, 210);
  --color-brand-primary-light: rgb(81, 61, 183);
  --color-brand-secondary-light: rgb(144, 113, 230);
  --color-decorative-border-1: #4c4c4c;
  --number-text-normal: 24px;
  --number-text-large: 28px;
}

html,
body {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: Inter, sans-serif;
  font-size: var(--number-text-normal);
  padding: 16px;
  display: flex;
  justify-content: center;
}

.emoji{
    font-family: emoji;
    font-size: var(--number-text-large);
    line-height: var(--number-text-normal);
    vertical-align: sub;
    margin-inline: 3px;
}

.tasktweezers {
  text-align: center;
  all: unset;
  cursor: pointer;
  font-size: clamp(0px, 10svw, 4rem);
  width: 100%;
  font-weight: bold;
  line-height: 1.2;
  color: var(--color-text-primary);
}
.tasktweezers:active{
  color: var(--color-text-primary);
}
h1{
  text-align: center;
}

.bodyWrapper{
  max-width: 1200px;
  min-width: 100%;
}

a{
    color: var(--color-brand-secondary);
    transition: 250ms;
}
a:active{
  color: var(--color-brand-primary);
  cursor: pointer;
}

.cards{
  width: 100%;
  height: 100%;
  margin-block: 24px;
}

.card{
  background: linear-gradient(-45deg, var(--color-brand-primary) 0%, var(--color-brand-secondary) 100%);
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;
  border-color: var(--color-background-secondary);
  height: 12rem;
  width: 12rem;
  padding: 8px;

}

.card img{
  display: block;
  font-style: italic;
  height: 8rem;
  width: 11rem;
}

.card div{
  border-radius: 16px;
  padding: 8px;
  background-color: #faebd7;
  color: var(--color-brand-primary);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  :root {
    --number-text-normal: 18px;
    --number-text-large: 22px;
  }
}